{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">{{title|title}}</li>
</ol>
<hr>
{% endblock %}
{% block content %}
<h3>{{title|title}}</h3>
<hr>
<a href="#" class="btn btn-primary btn-sm" type="button">Add Form</a>
<hr>
<table id="myList" class="table table-hover">
    <thead>
        <tr>
        	<th>Forms</th>
            <th>Instructors</th>
            <th>Blocks</th>
        </tr>
    </thead>
    <tbody>
    	{% for list in schoolformlist %}
        <tr>
            <td><a href="#">{{list.form_name|title}}</a></td>
            <td><a href="{% url 'instructor:detail' list.instructor.id %}">{{list.instructor.user.get_full_name|title}}</a></td>
            <td><a href="{% url 'block:detail' list.block.id %}">{{list.block.block_name|title}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}